# fly.toml app configuration file generated for cf-mcp on 2026-01-14T10:28:16+01:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cf-mcp'
primary_region = 'iad'

[build]

[env]
  PORT = '8080'
  RACK_ENV = 'production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[http_service.concurrency]
  type = "requests"
  soft_limit = 200
  hard_limit = 250

[[vm]]
  size = 'shared-cpu-1x'
  memory = 256

[vm]
  kill_signal = "SIGTERM"
  kill_timeout = "5s"
